name: CI - Tests

on:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main, develop ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install dependencies
        run: ./gradlew assemble # o npm install, pip install -r requirements.txt
      - name: Run tests
        id: run_tests
        run: |
          set -o pipefail
          ./gradlew test | tee test_output.log
      - name: Upload test log
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-output
          path: test_output.log
